* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0f1117;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #161a23;
  border-bottom: 1px solid #222;
}

.logo {
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 3px;
  color: white;
}

.logo span {
  color: #00ff9d;
}

.search-area {
  display: flex;
  gap: 10px;
  align-items: center;
}

input {
  background: #0f1117;
  border: 1px solid #333;
  color: white;
  padding: 12px;
  border-radius: 4px;
  width: 260px;
}

select {
  background: #0f1117;
  border: 1px solid #333;
  color: white;
  padding: 12px;
  border-radius: 4px;
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid #00ff9d;
}

#searchBtn {
  background: #00ff9d;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

#searchBtn:hover {
  background: #00cc7d;
}

.fav-btn {
  background: transparent;
  border: 1px solid #00ff9d;
  color: #00ff9d;
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 4px;
}

.fav-btn:hover {
  background: #00ff9d;
  color: black;
}

.container {
  padding: 40px;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}

.book-card {
  background: #161a23;
  border: 1px solid #222;
  padding: 15px;
  transition: 0.2s;
}

.book-card:hover {
  border: 1px solid #00ff9d;
  transform: scale(1.03);
}

.book-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.book-card h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.add-fav {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1px solid #555;
  color: white;
  cursor: pointer;
}

.add-fav:hover {
  border: 1px solid #00ff9d;
  color: #00ff9d;
}
